<div class="container">



    <div id="wrapper">
      <h1>Scrape Echojs webpage</h1>
      <h2><a href="/scrape">Click here to start Scrape</a></h2>
      <h2><i>...</i></h2>
      <div id="articles"></div>
      <div id="notes"></div>
    </div>
    






</div> <!-- end on main container -->