<div class="container">
	



<div class="jumbotron">
  <h2>Article Scrapper</h2>
  <p>The Content below has been scrapped from echojs.com</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Click here to start</a></p>
</div>








</div> <!-- end on main container -->