<div class="container">



<!-- NavBar -->
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">EchoJs Scraper</a>
    <ul class="right hide-on-med-and-down">
      <li><a class="waves-effect waves-light btn-large" href="/scrape">Click Here to Scrape Now!</a></li>
    </ul>
  </div>
</nav>
<hr>
{{#each articles}}
  <h5>{{this.title}}</h5>
  <h3>{{this.link}}</h3>
  <hr><br>
{{/each}}













</div> <!-- end on main container -->